@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #bffb4e;
  --midnightBlue: #0F0E17;
  --light: #EEEEFB;
  --swiper-navigation-color: #0F0E17;
  --swiper-pagination-color: #bffb4e;

}

@layer components {
  .swiper-pagination-bullet {
    @apply w-3 h-3 bg-gray-400 opacity-60 mx-1 rounded-full transition-all;
  }

  .swiper-pagination-bullet-active {
    @apply bg-primary text-primary opacity-100;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-xs:25rem;
  --color-primary:var(--primary);
  --color-dark:var(--midnightBlue);
  --color-light: var(--light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #BFFB4E;
    --midnightBlue: #EEEEFB;
    --light: #0F0E17;

  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.font-quicksand{
  font-family: var(--font-quicksand);
}
.font-zendots {
  font-family: var(--font-zendots);
}
